*{
    @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    /* background: #222; */
    background-image: url('https://images.unsplash.com/photo-1592210454359-9043f067919b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    margin-bottom: 60px;
    font-size: 60px;
    color: sienna;
    width: 100%;
    text-align: center;
    background-color: #fff;
    opacity: 0.7;
    /* color: aliceblue; */
    /* margin-left: 0px;
     */
     border-radius: 20px;
}

h1 p{
    color: #222;
}

.card{
    background-color: #222;
    opacity: 0.8;
    color: #fff;
    padding: 4em;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
}

.card #weather{
    display: none;
}

.search{
    display: flex;
    justify-content: center;
    /* margin: 2px; */
}

.search input{
    border-radius: 10px;
    border: 0px;
    width: 15em;
    margin: 4px;
    padding: 6px;
}

.search button{
    margin: 4px;
    border-radius: 10px;

}

.search button img{
    width: 10px;
    height: 10px;
}

.search button:hover{
    background-color:burlywood;
}

@media  (min-width : 0px) and (max-width : 870px) {
    h1 p{
        font-size: 30px;
    }
}

@media (max-width : 540px){
    .card{
        /* display: none; */
        width: 80%;
        max-width: 200px;
    }
}